@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>


    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("FormularioPago", "Clientes")" class="btn btn-success">Comprar</a>
    }
    else
    {
        <a href="@Url.Action("Login", "Clientes", new { returnUrl = Url.Action("FormularioPago", "Clientes") })" class="btn botonInicio">
            Iniciar sesión para comprar
        </a>
    }
</div>
