@model VentaCarProyectoFinal.AppWebMVC.Models.Vendedore
@{
    Layout = "~/Views/Shared/_LayoutVendedor.cshtml";
}
@{
    ViewData["Title"] = "Home Vendedores";
}


<h1 class="display-4">Bienvenidooooo al Perfil de vendedores </h1>
